.root {
    li {
      display: inline-flex;
  
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #871e59;
    
        width: 45px;
        height: 45px;
        border-radius: 30px;
        border: 1px solid #871e59;
        margin-right: 10px;
        cursor: pointer;
    
        &:hover {
          background: #871e59;
          color: #fff;
        }
      }
    }
  
    :global {
      .selected {
        a {
          background-color: #871e59;
          color: #fff;
        }
      }
    }
  
  }